
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Chương trình đạo tạo - UHL</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="~/images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="~/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="~/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/css/custom.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - baitaplon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css-admin/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/baitaplon.styles.css" asp-append-version="true" />
</head>
<style>
    .footer-bottom {
        background-color: #4c4b4f;
        padding-top: 31px;
        padding-bottom: 25px;
        margin-top: 50px;
    }

    .footer-bottom p{
             color: #fff; 
             font-size: 17px; 
             letter-spacing: 0; 
             font-family: "myria-re", serif; 
             font-weight: 400; 
             
        }
    }

        .footer-bottom h3 {
        color: #fff;
        font-size: 17px;
        letter-spacing: 0;
        font-family: "myria-re", serif;
        font-weight: 400;   
    }
    
</style>
<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">
                            <a href="index.html"><img class="logo_icon img-responsive" src="images/logo/logo_icon.png" alt="#" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_img"><img class="img-responsive" src="~/images/layout_img/chuongphongdaotao.jpg" alt="#" /></div>
                            <div class="user_info">
                                
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4 style="font-size:22px;margin:10px">Quản lý Camera</h4>
                    <ul class="list-unstyled components">
                    
                        <li><a asp-area="" asp-controller="Camera"><i class="fa fa-clock-o orange_color"></i> <span>Camera</span></a></li>

                        <li><a asp-area="" asp-controller="Daughihinhs"><i class="fa fa-table purple_color2"></i> <span>Đầu ghi hình</span></a></li>
                      
                        <li><a asp-area="" asp-controller="phukien"><i class="fa fa-briefcase blue1_color"></i> <span>phụ kiện camera</span></a></li>
                        
                        
                        
                    </ul>
                </div>
            </nav>
          
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                            <div class="logo_section">
                                <a asp-controller="Home" asp-action="Index"><h1 style="color:aliceblue;font-size:32px;margin:5px">Trang Chủ</h1></a>
                            </div>
                            <div class="right_topbar">
                                <div class="icon_info">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                        <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                                    </ul>
                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="~/images/layout_img/chuongphongdaotao.jpg" alt="#" /><span class="name_user">Xuân Lee</span></a>
                                            <div class="dropdown-menu">
                                                
                                                <a class="dropdown-item" href="help.html">Help</a>
                                                <a class="dropdown-item" href="login"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="midde_cont">
                    <div class="container-fluid">
                        <div class="row column_title">
                            <div class="col-md-12">
                                <div class="page_title">
                                    <h2>Thông tin chi tiết</h2>
                                </div>
                            </div>
                        </div>
                        <div>
                            @RenderBody()
                            @RenderSection("Scripts", required: false)
                        </div>
                        <footer>
                        <div class="footer-bottom">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-md-7 col-lg-8">
                                        <h3>TRƯỜNG ĐẠI HỌC HẠ LONG</h3>

                                        <div class="ft-address">
                                            <p><i class="zmdi zmdi-pin-drop"></i> Cơ sở 1: Số 258, đường Bạch Đằng, phường Nam Khê - thành phố Uông Bí - tỉnh Quảng Ninh</p>
                                            <p><i class="zmdi zmdi-pin-drop"></i> Cơ sở 2: Số 58 - đường Nguyễn Văn Cừ - thành phố Hạ Long - tỉnh Quảng Ninh</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-5 col-lg-4">
                                        <div class="wrap-social" style="display:none;">
                                            <ul>
                                                <li><a href="#"><img src="https://uhl.edu.vn/wp-content/themes/k2_hl_edu/assets/images/icon_fb.png" data-pagespeed-url-hash="2269859660" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a></li>
                                                <li><a href="#"><img src="https://uhl.edu.vn/wp-content/themes/k2_hl_edu/assets/images/icon_tw.png" data-pagespeed-url-hash="3106366523" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a></li>
                                                <li><a href="#"><img src="https://uhl.edu.vn/wp-content/themes/k2_hl_edu/assets/images/icon_yt.png" data-pagespeed-url-hash="1846786695" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a></li>
                                            </ul>
                                        </div>
                                        <div class="ft-info-contact">
                                            <h3>Thông tin liên hệ :</h3>


                                            <p>Website: <a href="http://daihochalong.edu.vn">daihochalong.edu.vn</a></p>
                                            <p>Email: <a href="mailto:tonghop@daihochalong.edu.vn">tonghop@daihochalong.edu.vn</a></p>
                                            <p>Điện thoại: (84 - 0203).3850304 <br /> Fax: (84 - 0203).3852174</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </footer>
                        
                    
                </div>
                <!-- end dashboard inner -->
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="js/animate.js"></script>
    <!-- select country -->
    <script src="js/bootstrap-select.js"></script>
    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>
    <!-- chart js -->
    <script src="js/Chart.min.js"></script>
    <script src="js/Chart.bundle.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/analyser.js"></script>
    <!-- nice scrollbar -->
    <script src="js/perfect-scrollbar.min.js"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <script src="js/chart_custom_style1.js"></script>

</body>
</html>